<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Send Mail</title>
		{{ bootstrap.load_css() }}
		<style>
			form {
				max-width: 600px;
				margin: 0 auto;
				padding: 20px;
				border: 1px solid #ccc;
				border-radius: 10px;
				background-color: #f9f9f9;
			}
			form .form-group {
				margin-bottom: 15px;
			}
			form .form-control {
				border-radius: 5px;
			}
			form .btn {
				background-color: #007bff;
				color: white;
			}
		</style>
	</head>
	<body>
		{% from 'bootstrap5/form.html' import render_form %} {{ render_form(form) }} {% with messages =
		get_flashed_messages() %} {% if messages %} {% for message in messages %}
		<p style="text-align: center">{{ message }}</p>
		{% endfor %} {% endif %} {% endwith %}
	</body>
</html>
